{% extends 'base.html' %}
{% block content %}
<style>
  .panel-body{
    font-weight: bold;
    font-size: 20px;
    text-align:center;
    margin-bottom: 30px;
  }
  .panel-footer{
    font-size: 16px;
    height: 200px;
  }
  .btn{
    color: white;
    background: black;
    border-radius:0.5em;
    padding:5px 20px;
    display: inline-block;
  }
  
</style>

<div class="container" style='margin-top:30px;'>
  <div class="panel-group">
  <div class="panel-header" style="display: flex; justify-content: space-between;">
    <div>no.<b>{{ app.id }}</b>&nbsp;<b>{{ app.category }}</b>
    </div>
    <div style="display: flex; flex-direction: column;">
      <div>작성자: <b>{{ app.user.name }}</b>
      </div>
      <div>작성일: <b>{{ app.date|date:"Y-m-d H:i:s" }}</b>
      </div>
    </div>
  </div>
  <div class="panel-body" style="background-color: #F5F5F5">{{ app.title }}
  </div>
  <div class="panel-footer" style="background-color: #F5F5F5">{{ app.content|linebreaksbr }}
  </div>
</div>

<div class="container" style="text-align: right; margin-top: 10px" >
  <a href='/app/list/' class="btn btn-default" id="list">목록</a>
  <a href='/app/update/{{ app.id }}/' class="btn btn-default" id="update">수정</a>
  <a href="#" class="btn btn-default" id="delete">삭제</a>
  <form method="post" action="/app/update/" id="update-form">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ app.id }}">
  </form>
</div>

<script>
  const deleteBtn = document.getElementById('delete');
  deleteBtn.addEventListener('click', function(event) {
    event.preventDefault();
    if (confirm('게시글 삭제는 관리자에게 문의주세요.')) {
    } else {
    }
  });
</script>



{% endblock %}

